{% extends 'base.html' %} {% block content %}
<div class="container mt-2 mb-2">
  <form method="post" role="form">
    {% csrf_token %}
    <h4 class="pt-2">Select one of your courses to send a broadcast message</h4>
    <select
      class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example"
      name="course_select"
    >
      <option value="" disabled selected>Choose a course</option>

      {% for course in courses %}
      <option value="{{course.id}}">{{course.title}}</option>
      {% endfor %}
    </select>
    <h4 class="pt-3">Message</h4>
    <textarea
      class="form-control"
      id="message_body"
      name="message_body"
      rows="3"
    ></textarea>
    <div class="text-center mt-3">
      <button
        type="submit"
        class="btn btn-outline-primary ml-2 mb-2"
        name="action"
      >
        Send Message
      </button>
    </div>
  </form>
</div>
{% endblock content %}
